In [ ]:
#1
user = input()
lst1 = []
lst2 = []
lst3 = []
c = 0
while user != "STOP":
  lst1.append(user)
  user = input()
for i in lst1:
  if i not in lst2:
    lst2.append(i)
for i in lst2:
  for j in lst1:
    if i == j:
        c+=1
  lst3.append(c)
  c = 0
for i in lst3:
  print(lst2[c],"-",i,"times")
  c+=1

In [ ]:
#2
c = int(input("Enter the number of lists:"))
sum = 0
max = 0
lst = []
for i in range(c):
  user = input("Enter a string of number separated by a space:")
  lst1 = user.split()
  for i in range(len(lst1)):
    lst1[i] = int(lst1[i])
  for i in lst1:
    sum += i
  if sum>=max:
    max = sum
    lst = lst1
  sum = 0
print(max)
print(lst)

In [ ]:
#Different 2
sum_list = []
num_list = []
num = int(input("Enter the number of lists:"))
for i in range(num):
  inp = input("Enter a string of number separated by a space:")
  lst1 = inp.split()
  for i in range(len(lst1)):
    lst1[i] = int(lst1[i])
  num_list.append(lst1)
  sum1 = 0
  for i in range(len(lst1)):
    sum1+=lst1[i]
  sum_list.append(sum1)
max1 = 0
index1 = 0
for i in range(len(sum_list)):
  if sum_list[i]>= max1:
    max1 = sum_list[i]
    index1 = i
print(sum_list[index1])
print(num_list[index1])

Enter the number of lists:4
Enter a string of number separated by a space:1 2 3
Enter a string of number separated by a space:4 5 6
Enter a string of number separated by a space:10 11 12
Enter a string of number separated by a space:7 8 9
33
[10, 11, 12]

In [ ]:
#3
inp1 = input("Enter a string of number separated by a space:")
lst1 = inp1.split()
inp2 = input("Enter a string of number separated by a space:")
lst2 = inp2.split()
lst3 = []
for i in range(len(lst1)):
    lst1[i] = int(lst1[i])
for i in range(len(lst2)):
    lst2[i] = int(lst2[i])
for i in lst1:
  for j in lst2:
    lst3.append(i*j)
print(lst3)

Enter a string of number separated by a space:2 3 6
Enter a string of number separated by a space:3 4 5
[6, 8, 10, 9, 12, 15, 18, 24, 30]

In [ ]:
#4
inp1 = input("Enter a string of number separated by a space: ")
while inp1 != "STOP":
  lst1 = inp1.split()
  lst2 = []
  for i in range(len(lst1)):
    lst1[i] = int(lst1[i])
  for i in range(len(lst1)-1):
    sum = lst1[i]-(lst1[i+1])
    if sum < 0:
      sum = sum-sum-sum
    lst2.append(sum)
  for i in range(len(lst2)):
    lst2[i] = int(lst2[i])
  for i in range(len(lst2)-1):
    for j in range(len(lst2)-1):
      if lst2[j] > lst2[j+1]:
        lst2[j],lst2[j+1] = lst2[j+1],lst2[j]
  c = 1
  for i in range(len(lst2)):
    if lst2[i] == c:
      c+=1
      ans = "UB Jumper"
    else:
      flag = False
      ans = "Not UB Jumper"
      break
  print(ans)
  inp1 = input("Enter a string of number separated by a space: ")

Enter a string of number separated by a space: 2 1 4 6 10
UB Jumper
Enter a string of number separated by a space: 1 4 2 3
UB Jumper
Enter a string of number separated by a space: 1 4 2 -1 6
Not UB Jumper
Enter a string of number separated by a space: STOP

In [ ]:
#5
inp = input()
low = []
upp = []
even = []
odd = []
ans = []
for i in inp:
  if ord("a")<=ord(i)<=ord("z"):
    low.append(i)
  elif ord("A")<=ord(i)<=ord("Z"):
    upp.append(i)
  elif int(i) % 2 != 0:
    odd.append(i)
  else:
    even.append(i)
for i in range(len(low)-1):
    for j in range(len(low)-1):
      if low[j] > low[j+1]:
        low[j],low[j+1] = low[j+1],low[j]
for i in range(len(upp)-1):
    for j in range(len(upp)-1):
      if upp[j] > upp[j+1]:
        upp[j],upp[j+1] = upp[j+1],upp[j]
for i in range(len(even)-1):
    for j in range(len(even)-1):
      if even[j] > even[j+1]:
        even[j],even[j+1] = even[j+1],low[j]
for i in range(len(odd)-1):
    for j in range(len(odd)-1):
      if odd[j] > odd[j+1]:
        odd[j],odd[j+1] = odd[j+1],odd[j]
for i in low:
  ans.append(i)
for i in upp:
  ans.append(i)
for i in odd:
  ans.append(i)
for i in even:
  ans.append(i)
for i in ans:
  print(i,end="")

Bracu1234
acruB1324

In [ ]:
#6
c = 0
inp = input()
lst = inp.split()
lst1 = []
for i in range(int(lst[0])):
  inp1 = int(input("Enter the number of times student have competed:"))
  lst1.append(inp1)
for i in lst1:
  if 5-int(i) >= int(lst[1]):
    c+=1
print(c//3)

5 2
Enter the number of times student have competed:0
Enter the number of times student have competed:4
Enter the number of times student have competed:5
Enter the number of times student have competed:1
Enter the number of times student have competed:0
1

Dictionary and Tuple

In [ ]:
#1
d1 = {"a": 100, "b": 100, "c": 200, "d": 300}
d2 = {"a": 300, "b": 200, "d": 400, "e": 200}
lst = []
for k in d2.keys():
  if k in d1:
    d1[k] = d1[k] + d2[k]
  else:
    d1[k] = d2[k]
for v in d1.values():
  lst.append(v)
for i in lst:
  for j in range(len(lst)-1):
    if lst[j] > lst[j+1]:
      lst[j],lst[j+1] = lst[j+1],lst[j]
unique_dict = {}
for v in lst:
  unique_dict[v] = None
unique_dict = tuple(unique_dict.keys())
print(d1)
print("Values:",unique_dict)

{'a': 400, 'b': 300, 'c': 200, 'd': 700, 'e': 200}
Values: (200, 300, 400, 700)

In [ ]:
#2
d1 = {"a":10,"b": 20,"c": 20,"d": 30,"e": 10,"f": 50,"g": 90}
lst = []
for v in d1.values():
  lst.append(v)
d1 = {}
for i in lst:
  if i in d1:
    d1[i] += 1
  else:
    d1[i] = 1
for num, freq in d1.items():
  print(num,"-", freq, "times")

10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [ ]:
#3
d = {"key1" : "value1", "key2" : "value2", "key3" : "value1"}
new_d = {}
for k,v in d.items():
  if v not in new_d:
    new_d[v] = [k]
  else:
    new_d[v].append(k)
print(new_d)

{'value1': ['key1', 'key3'], 'value2': ['key2']}

In [ ]:
#4
d = {}
inp = input()
inp = inp.lower()
for i in inp:
  c = 1
  if i == " ":
    continue
  elif i not in d.keys():
    d[i] = c
  else:
    c = d[i]+1
    d[i] = c
print(d)

Python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#5
inp = input()
inp1 = input()
d1 = {}
d2 = {}
lst = []
lst1 = []
for i in inp:
  lst.append(i)
for k in lst:
  d1[k] = None
for i in inp1:
  lst1.append(i)
for k in lst1:
  d2[k] = None
if d1 == d2:
  print("They are anagrams")
else:
  print("They are not anagrams")

im a dot in place
a decimal point
They are anagrams

In [ ]:
#6
d = {"1":[".",",","?","!",":"],"2":["A","B","C"],"3":["D","E","F"],"4":["G","H","I"],"5":["J","K","L"],"6":["M","N","O"],"7":["P","Q","R","S"],"8":["T","U","V"],"9":["W","X","Y","Z"],"0":[" "]}
inp = input()
inp = inp.upper()
for i in inp:
    for k,v in d.items():
      if i in v:
        for j in range(len(v)):
          if v[j] == i:
            for i in range(j+1):
              print(k,end="")

Hello, World!
4433555555666110966677755531111